<div>
    <div>Name:</div>
    <div id="lunchLocationName" data-dojo-attach-point="lunchLocationName"></div>
    <div>City</div>
    <div id="lunchLocationCity" data-dojo-attach-point="lunchLocationCity"></div>
    <div>State:</div>
    <div id="lunchLocationState" data-dojo-attach-point="lunchLocationState"></div>
    <div>Address:</div>
    <div id="lunchLocationAddresss" data-dojo-attach-point="lunchLocationAddresss"></div>
    <div>Zip:</div>
    <div id="lunchLocationZip" data-dojo-attach-point="lunchLocationZip"></div>
    <div>Website:</div>
    <div id="lunchLocationWebsite" data-dojo-attach-point="lunchLocationWebsite"></div>
    
    <div data-dojo-attach-point="daysOfWeekContainer">
        <span data-dojo-attach-point="mondayCheckbox" ></span> <label for="mondayCheckboxContainer">Mon</label>
        <span data-dojo-attach-point="tuesdayCheckbox" ></span> <label for="tuesdayCheckboxContainer">Tue</label>
        <span data-dojo-attach-point="wednesdayCheckbox" ></span> <label for="wednesdayCheckboxContainer">Wed</label>
        <span data-dojo-attach-point="thursdayCheckbox" ></span> <label for="thursdayCheckboxContainer">Thu</label>
        <span data-dojo-attach-point="fridayCheckbox" ></span> <label for="fridayCheckboxContainer">Fri</label>
        <span data-dojo-attach-point="saturdayCheckbox" ></span> <label for="saturdayCheckboxContainer">Sat</label>
        <span data-dojo-attach-point="sundayCheckbox" ></span> <label for="sundayCheckboxContainer">Sun</label>
    </div>
    
    <div id="createLocationContainer" data-dojo-attach-point="createLocation"></div>
</div>