<div>
        <div>Restaurants:</div>
       <div id="restaurantDropdownContainer" data-dojo-attach-point="restaurantDropdownContainer"></div>
           
        <div>Time Factor:</div>
       <div class="sideByside" data-dojo-attach-point=timeFactorDropdownContainer ></div>
       <div class="sideByside" id="lunchTimeFactor" data-dojo-attach-point="lunchTimeFactor"></div>
       
       <div>Cost Factor:</div>
        <div class="sideByside" data-dojo-attach-point=costFactorDropdownContainer></div>
       <div class="sideByside" id="lunchCostFactor" data-dojo-attach-point="lunchCostFactor"></div>
 
      
       <div>Post Lunch Fullness Factor:</div>
       <div class="sideByside" data-dojo-attach-point=fullnessDropdownContainer ></div>
       <div class="sideByside" id="lunchFullnessFactor" data-dojo-attach-point="lunchFullnessFactor"></div>
       
       
       
       <div>Post Lunch Deliciousness Factor:</div>
       <div class="sideByside" data-dojo-attach-point=deliciousnessDropdownContainer ></div>
       <div class="sideByside" id="lunchDeliciousnessFactor" data-dojo-attach-point="lunchDeliciousnessFactor"></div>
        
       
       <div>Post Lunch Discomfort Factor:</div>
       <div class="sideByside" data-dojo-attach-point=discomfortDropdownContainer ></div>
       <div class="sideByside" id="lunchDiscomfortFactor" data-dojo-attach-point="lunchDiscomfortFactor"></div>
       
       <div>Opt in?</div>
           <div data-dojo-attach-point="optInContainer">
        <span data-dojo-attach-point="optInCheckbox" ></span> <label for="optInContainer">Yes</label>
       </div>
       
       
       
       <div id="createProfileContainer" data-dojo-attach-point="createProfile"></div>

</div>